@model IEnumerable<TesteLeonardo.Dominio.Produto>

@{
    ViewBag.Title = "Home Page";
}
<div ng-controller="HomeController" style="border:1px solid gray; border-radius: 8px;padding:24px">
    <button id="gerarToken" style="border-radius: 8px;height:50px;width:140px;">Gerar Token</button>
    <p style="margin:0 8 0 48px;">Token: {{Mensagem}}
    <br/>Token expira em: 1 minuto</p>
    
    <hr/>
    
    <button id="gerarToken" style="border-radius: 8px;height:50px;width:140px;">Buscar Produtos MVC</button>
    <button id="gerarToken" style="border-radius: 8px;height:50px;width:140px;">Buscar Produtos Ajax</button>

    <table class="table" style="margin-top: 40px;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</hr>